@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;900&display=swap');

/* Sidebar Component */
.sidebar {
    border-right: 0.05rem solid #bbb;
}

.sidebar__container {
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;

    margin: 1rem 0rem;
    padding: 1rem;
    border: 0.3rem solid darkslategrey;
    border-radius: 2rem;
    background-color: #f3f3fa;
    background-color: #fbfbfd;
    opacity: 1;
    background: linear-gradient(135deg, #f6f6f655 25%, transparent 25%) -40px 0/ 80px 80px, 
        linear-gradient(225deg, #f6f6f6 25%, transparent 25%) -40px 0/ 80px 80px, 
        linear-gradient(315deg, #f6f6f655 25%, transparent 25%) 0px 0/ 80px 80px, 
        linear-gradient(45deg, #f6f6f6 25%, #fbfbfd 25%) 0px 0/ 80px 80px;
}

.sidebar__name {
    display: flex;
    justify-content: center;

    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    color: #629460;
    background: -webkit-linear-gradient(#629460, #287025);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.05rem black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 1;
}

.sidebar__portrait {
    display: flex;
    margin: auto;

    border: 0.25rem solid #243119;
    border-radius: 50%;
    height: 15rem;
}

.sidebar__text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
}

.sidebar__link {
    cursor: pointer;
    color: #0000EE;
}

.sidebar__link:hover {
    color: #0000ac;
    text-decoration: underline;
}


/* Portfolio Component */
.right-side {
    border-left: 0.05rem solid #bbb;
}
