@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html, .grid__background {
    background-color: aliceblue;
}

.portrait {
    display: flex;
    margin: auto;

    border: 0.25rem solid #243119;
    border-radius: 50%;
    height: 15rem;
}